# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
datasets/raw/Keck_LC4_export.xlsx
datasets/raw/keck_PriA_MLPCN.csv
datasets/raw/keck_retest_continuous.xlsx
datasets/raw/lifechem123_cleaned_2017_03_10.smi
datasets/raw/lifechem4_cleaned_2017_03_10.smi
datasets/raw/pria_lc4_retest_may18.csv
datasets/raw/screening_smsf_continuous_2017_03_10.xlsx
datasets/raw/~$screening_smsf_continuous_2017_03_10.xlsx
preprocessing/Merge MLCPN+LC.ipynb
datasets/master_df/master_mlpcn_lc.csv
datasets/MLPCN_LC1234_master_df_2018_09_17.zip
datasets/master_df/master_mlpcn_lc.csv.gz
*.csv
*.gz
src/prospective_keck.py
src/prospective_keck.py
analysis_notebooks/ZINC-Baseline.ipynb
analysis_notebooks/Preprocessing Info.ipynb
